@use "../helpers" as * ; 

.about-me {

    &__inner {
        padding: rem(40);
        margin-bottom: rem(40);
        border: 2px dashed rgba(255, 255, 255, 0.1);
    }

    &__title {
        @include fluid-text(32, 30);
        margin-bottom: rem(30);

        &::after {
            content: '.';
            color: var(--color-primary);
        }
    }

    &__description {
        font-weight: 400;
        line-height: 1.55556;
        font-size: 18px;
    }

    &__image {
        height: rem(80);
    }

    &__content {
        display: flex;
        gap: rem(30);

        @include mobile {
            flex-direction: column;
        }
    }
}