@use "../helpers" as * ;

.background {
    min-height: 658px;
    position: relative;
    
    @include mobile-above {
        min-height: 994px;
    }

    &__inner {
        position: relative;
        overflow: hidden;
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &--gradient-bottom {
        &::before {
            width: 100%;
            height: 200px;
            display: block;
            content: "";
            bottom: -1px;
            position: absolute;
            background: linear-gradient(180deg, rgba(10, 22, 35, 0) 0%, #0a1623 100%);
            z-index: 1;
        }
    }

    &--gradient-top {
        &::before {
            width: 100%;
            height:400px;
            display: block;
            content: "";
            top: -1px;
            position: absolute;
            background: linear-gradient(360deg, rgba(10, 22, 35, 0) 0%, #0a1623 100%);
            z-index: 1;
        }
    }
}