@use '../helpers' as *;

.feedback-form {
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.01); /* Полупрозрачный фон */
    backdrop-filter: blur(5px); /* Эффект размытия */
    padding: rem(50);
    width: 100%;
    max-width: rem(620);

    @include laptop {
        max-width: rem(381);
    }

    @include tablet {
        flex-grow: 1;
        max-width: 100%;
    }

    @include mobile {
        padding-inline: rem(18);
    }

    &__title {
        color: var(--color-light);
        margin-bottom: rem(15);
        &::after {
            content: '.';
            color: var(--color-primary);
        }
    }

    &__description {
        font-size: rem(18);
        line-height: 1.55556;
        margin-bottom: rem(50);
    }

    &__submit-button {
        max-width: rem(161);
        margin-top: rem(30);
    }
}