@use "../helpers" as * ;

.footer {

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: rem(30);
        padding-top: 100px;
        padding-bottom: 150px;
    }

    &__arrow-link {
        svg path {
            transition: stroke var(--transition-duration), stroke-opacity var(--transition-duration);
        }

        @include hover {
            svg path {
                stroke-opacity: 0.8;
                stroke: var(--color-light);
            }
        }
        position: relative;

        &::after {
            @include square(rem(64));
            @include abs-center;
            content: '';
        }
        color: rgba(255, 255, 255, 0.25);
    }

    &__logo {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-light);
    }
}