@use "../helpers" as * ;

.header {
    &__body {
        padding-block: rem(60);

        @include mobile-s {
            padding-block: rem(25);
        }

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            column-gap: rem(20);
        }
    }

    &__overlay {

        @include tablet-above {
            display: contents;
        }

        @include tablet {
            position: fixed;
            top: rem(120);
            right: 17%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: rem(20);
            padding: rem(30);
            background: rgba(18, 19, 18, 0.9);
            transition-duration: var(--transition-duration);

            &:not(.is-active) {
                @include hide;
            }
        }

        @include mobile {
            right: 1%;
        }
    }
    
    &__menu {
        margin-left: auto;

        &-list {
            display: flex;
            column-gap: rem(40);

            @include tablet {
                flex-direction: column;
                row-gap: rem(20);

            }
        }

        &-item {

            &:first-child {
                display: none;
            }

            @include tablet {
                &:first-child {
                    display: inline-flex;
                }

                &:nth-child(2){
                    display: none;
                }
            }
        }

        &-link {
            padding-block: rem(13);
            font-size: rem(18);
            font-weight: 600;

            @include tablet {
                padding-block: 0;
            }

            @include hover {
                .icon {
                    path {
                        stroke: var(--color-primary);
                    }
                }

            }
        }

    }

    &__contact-us-link {
        max-width: rem(152);
        margin-left: rem(20);
        justify-content: flex-start;

        @include tablet {
            margin-left: 0;
            border: none;
            color: var(--color-light);
            align-self: flex-end;
            padding: 0;
        }
    }
}