@use "../helpers" as *;

.list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__row {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: rem(20);

    @include laptop {
    }

    @include mobile {
      display: contents;
    }

    &--first {
      margin-bottom: rem(20);
    }
  }

  @include mobile {
    display: flex;
    flex-direction: row;
  }

  &__item {
    position: relative;
    display: flex;
    width: 100%;
    max-width: rem(303);
    height: rem(240);
    flex-direction: column;
    flex: 0 0 auto;

    @include laptop {
      width: 243px;
    }

    @include tablet {
      width: rem(250);
    }

    @include mobile {
      width: rem(300);
    }

    @include hover {
      .list__item-image-wrapper {
        display: none;
      }

      .focus-info {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }

    &-inner {
      position: relative;
      height: rem(240);
      flex: 0 0 auto;
      border: #{rem(1)} solid rgba(255, 255, 255, 0.05);
      background-color: var(--color-dark-blue);
    }

    &-label-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: rem(4);
    }

    &-label {
      font-size: rem(12);
      font-weight: 600;
      padding-block: rem(4);
      padding-inline: rem(10);

      &--tl {
        background-color: var(--color-secondary);
      }

      &--dev {
        background-color: var(--color-primary);
      }

      &--devl {
        background-color: var(--color-accent);
      }
    }

    &-image-wrapper {
      display: flex;
      justify-content: center;
    }

    &-image {
      width: rem(223);
      height: rem(80);
      align-self: center;
    }
  }

  &--all {
    justify-content: start;
  }
}
