@use "../helpers" as * ;

.logo {
    font-size: 32px;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-light);

    @include mobile {
        font-size: 23px;
    }

    @include mobile-s {
        font-size: 20px;
    }
}