@use "helpers" as *;
// html {
//     &.is-lock {
//         overflow: hidden
//     }
// }

body {
    @include fluid-text(14, 14);

    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    color: var(--color-gray);
    background-color: var(--color-dark-blue);
}

main {
    flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: var(--color-light);
}

h1, .h1 {
    @include fluid-text(60, 30);

    font-weight: 700;
}

h2, .h2 {
    @include fluid-text(32, 30);

    font-weight: 600;
}

h3, .h3 {
    @include fluid-text(18, 18);
    font-weight: 400;
}

a, 
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: var(--color-light);

    @include hover {
        color: var(--color-primary);
    }

    
    &:active {
        color: var(--color-secondary);
    }

    &[class] {
        text-decoration: none;
    }
}

:focus-visible {
    outline: rem(2) dashed var(--color-primary);
    outline-offset: rem(4);
    transition-duration: 0s !important;
}