@use "helpers" as *;

:root {
  --color-light: #ffffff;
  --color-gray: #c1c1c1;
  --color-black: #222222;
  --color-accent: #ea5b0c;
  --color-primary: #5483fc;
  --color-secondary: #4c53f3;
  --color-dark-blue: #0a1623;

  --font-family-base: "Golos Text", sans-serif;
  --font-family-accent: "Open Sans", sans-serif;

  --container-width: 1420px;
  --container-padding-x: #{rem(10)};

  @include laptop {
    --container-width: 942px;
  }

//   @media (min-width: 735px) {
//     --container-width: 668px;
//   }

  @include mobile {
    --container-width: 100%;
    --container-padding-x: #{rem(10)};
  }

  --transition-duration: 0.2s;

  --height-button: #{rem(52)};

  --border-button: #{rem(2)} solid var(--color-primary);
}
